body{
  margin: 0;
}
header{
  background-color: blue;
}
header h1{
  color : white;
  text-align: center;
  margin: 0;
}
nav{
  background-color: lightblue;
}
nav a{
  color : white;
  padding-left: 20px;
}
section{
  background-color: lightgray;
}
section h2{
  margin: 0;
  padding-top: 30px;
}
section p{
  margin: 0;
  padding-bottom: 60px;
}
footer{
  background-color : blue;
  color : white;
  text-align: center;
}

